<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kitovu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DCBF8EF1C50B25E000A6408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCBF9031C50B25F000A6408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCBF90E1C50B25F000A6408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
